<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-formulario-encuesta-heading"
        data-cy="FormularioEncuestaCreateUpdateHeading"
        jhiTranslate="encuestasApp.formularioEncuesta.home.createOrEditLabel"
      >
        Crear o editar Formulario Encuesta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="encuestasApp.formularioEncuesta.numeroDocumento" for="field_numeroDocumento"
            >Numero Documento</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDocumento"
            id="field_numeroDocumento"
            data-cy="numeroDocumento"
            formControlName="numeroDocumento"
          />
          <div
            *ngIf="
              editForm.get('numeroDocumento')!.invalid &&
              (editForm.get('numeroDocumento')!.dirty || editForm.get('numeroDocumento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDocumento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDocumento')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="encuestasApp.formularioEncuesta.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="encuestasApp.formularioEncuesta.comentarios" for="field_comentarios">Comentarios</label>
          <input
            type="text"
            class="form-control"
            name="comentarios"
            id="field_comentarios"
            data-cy="comentarios"
            formControlName="comentarios"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="encuestasApp.formularioEncuesta.fechaRespuesta" for="field_fechaRespuesta"
            >Fecha Respuesta</label
          >
          <div class="d-flex">
            <input
              id="field_fechaRespuesta"
              data-cy="fechaRespuesta"
              type="datetime-local"
              class="form-control"
              name="fechaRespuesta"
              formControlName="fechaRespuesta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="encuestasApp.formularioEncuesta.marcaFavoritaPC" for="field_marcaFavoritaPC"
            >Marca Favorita PC</label
          >
          <select
            class="form-control"
            id="field_marcaFavoritaPC"
            data-cy="marcaFavoritaPC"
            name="marcaFavoritaPC"
            formControlName="marcaFavoritaPC"
            [compareWith]="compareComputador"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="computadorOption" *ngFor="let computadorOption of computadorsSharedCollection">
              {{ computadorOption.marca }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
